[Unit]
Description=lichess-bot-min-opponent-moves
After=network-online.target
Wants=network-online.target

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/gregoryfinley/lichess-bot-min-opponent-moves/venv/bin/python3 /home/gregoryfinley/lichess-bot-min-opponent-moves/lichess-bot.py
WorkingDirectory=/home/gregoryfinley/lichess-bot-min-opponent-moves/
User=gregoryfinley
Group=gregoryfinley
Restart=always

[Install]
WantedBy=multi-user.target
